body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.top{
	float: left;
	margin: 10px;
	width: 600px;
}

.bottom{
	float: right;
	margin: 10px;
	width: 600px;
}